/**********************************
GENERAL
***********************************/
body{
	font-family:'Open Sans',sans-serif;
}

a {
	text-decoration:none;
}
#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	overflow: auto;
	clear:both;
}

img {
	
	max-width:100%;
	
}
h3{
	margin: 0 0 1em 0;
}
#floatk\ leftCol{
	width:100%;

}
#floatk\ rightCol {
	width: 100%;
}
/**********************************
HEADING
***********************************/

header{

	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width:100%;
	clear:both;
}
#logo{
	text-align:right;
	margin:0;	
	
}
h1{
	font-family: 'Changa One',sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}
h2{
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight:normal;
}
/**********************************
NAVIGATION
***********************************/
nav{
	text-align:center;
	padding:10px,0;
	margin:20px, 0, 0;
}
nav ul {
	list-style:none;
	margin:0 10px;
	padding:0;
	
}
nav li{
	display:inline-block;
  margin:0 10px;
}
nav a{
	font-weight:800;
	padding: 15px, 10px;
}
/**********************************
FOOTER
***********************************/
footer{
	font-size: 0.75em;
	text-align:center;
	padding-top:50px;
	clear:both;
	color:#ccc;
}
.social-icon{
	width: 20px;
	height:20px;
	margin:0 5px;
}

/**********************************
PAGE: HOME
***********************************/

.profile-photo{
	clear: both;
	display:block;
	max-width:150px;
	margin:0 auto 30px auto;
	border-radius: 100%;
}
/**********************************
PAGE: MAKER VIDEO
***********************************/

/**********************************
PAGE: FUN FACTS
***********************************/
.fun-photo {
	clear: both;
	display: block;
	max-width: 250px;
	margin: 0 auto 30px auto;
	border-radius: 100%;
}
/**********************************
PAGE: ICE BREAKERS
***********************************/

/**********************************
PAGE: SHELLY + CECE
***********************************/

/**********************************
COLORS
***********************************/
/* links */
a {
	color: #009980;
}
/* green header */
header {
	border-color: #001a99;
	background: #006699;
	
	
}
/* logo text */
h1, h2 {
	color: #fff;
}
/* nav background on mobile or tablet */
nav{
	background:#001a99;
	
}
/* nav link */
nav a, nav a:visited {
	color: #fff;
	
}
/* selected nav link */
nav a.selected, nav a:hover{
	color: #00334d;
}
/* site body */
body{
	background-color: #fff;
	color: #999;
	
}

/* extra */
h3{
	margin: 0 0 1em 0;
}








