@media screen and (min-width: 480px){
  #primary{
    width:50%;
    float:left;
  }
  #secondary{
    width:40%;
    float:right;
  }

/*  about*/
  .profile-photo{
    float:left;
    margin: 0 5% 80px 0;
  }
  #floatk\ leftCol{
	width:100%;
  }
  #floatk\ rightCol{
	width:100%;
	}
}
@media screen and (min-width:700px){
/*  header*/
  nav{
    background: none;
    float: right;
    font-size:1.125em;
    margin-right:10%;
    text-align: right;
    width:45%;
    
  }
  #logo{
    float:left;
    margin-left: 5%;
    text-align:left;
    width:45%;
    
  }
  h1{
    font-size:2.5em;
  }
  h2{
    font-size:0.825em;
    margin-bottom:20px;
  }
  header{
    border-bottom:5px solid #001a99;
    margin-bottom:60px;
    overflow:auto;
  }
    /* video*/
 #floatk\ leftCol{
	width:60%;
	float:left;
}
#floatk\ rightCol{
	width:35%;
	float:right;
}
  
  
}